<div class="social-media">
  <h2>Connecte-se connosco</h2>
  <div class="social-media-icons">
    <a href="https://www.facebook.com/ujc.fct" target="_blank"
      ><i class="fa-brands fa-facebook" style="color: white"></i
    ></a>
  </div>
  <div class="social-media-icons">
    <a href="#" target="_blank"
      ><i class="fa-brands fa-twitter" style="color: white"></i
    ></a>
  </div>
  <div class="social-media-icons">
    <a href="#" target="_blank"
      ><i class="fa-brands fa-linkedin" style="color: white"></i
    ></a>
  </div>
  <div class="social-media-icons">
    <a href="#" target="_blank"
      ><i class="fa-brands fa-youtube" style="color: white"></i
    ></a>
  </div>
</div>
<div class="about-section" id="about">
  <div class="mission">
    <h3>Missão</h3>
    <p>
      Prover um serviço público para a formação de cidadãos de nível superior de
      qualidade através da pesquisa, ensino e extensão com competências e
      conhecimento nos domínios de ciências e tecnologia.
    </p>
  </div>
  <div class="vision">
    <h3>Visão</h3>
    <p>
      Ser uma faculdade de referência nacional, regional e internacional na
      promoção de excelência no ensino superior, investigação e inovação nas
      áreas de ciências e tecnologia.
    </p>
  </div>
</div>
<div class="links">
  <h3>LINKS RÁPIDOS</h3>
  <p>Perguntas frequentes</p>
  <p>Exames de admissão</p>
  <p>Calendário académico</p>
</div>
<div class="copyright">
  <p>&copy;&nbsp;2023.Todos os direitos reservados</p>
</div>
