<div class="mobile:flex mobile:flex-row mobile:p-2 laptop:p-4 justify-between">
  <section>
    <img
      src="./assets/img/logo.png"
      class="w-[100px] h-[100px] laptop:mx-auto"
    />
    <p
      class="text-[#219ebc] mt-3 text-sm font-bold laptop:w-fit mobile:w-[120px]"
    >
      Faculdade de Ciências e Tecnologia
    </p>
  </section>
  <section class="mobile:flex mobile:flex-col mobile:gap-4">
    <div
      class="flex mobile:flex-col laptop:flex-row mobile:gap-5 laptop:gap-6 laptop:justify-end laptop:items-center"
    >
      <div class="flex flex-row justify-evenly">
        <div class="bg-[#219ebc] h-fit w-fit px-2 py-1 rounded-md">
          <a href="https://www.facebook.com/ujc.fct" target="_blank">
            <i class="fa-brands fa-facebook" style="color: white"></i>
          </a>
        </div>
        <div class="bg-[#219ebc] h-fit w-fit px-2 py-1 rounded-md">
          <a href="#" target="_blank">
            <i class="fa-brands fa-twitter" style="color: white"></i>
          </a>
        </div>
        <div class="bg-[#219ebc] h-fit w-fit px-2 py-1 rounded-md">
          <a href="#" target="_blank">
            <i class="fa-brands fa-linkedin" style="color: white"></i>
          </a>
        </div>
        <div class="bg-[#219ebc] h-fit w-fit px-2 py-1 rounded-md">
          <a href="#" target="_blank">
            <i class="fa-brands fa-youtube" style="color: white"></i>
          </a>
        </div>
      </div>
      <div class="flex gap-2">
        <input
          type="search"
          name="search"
          placeholder="pesquisar"
          class="focus:outline-none border border-[#219ebc] px-3 py-2 rounded-2xl"
        />
      </div>
    </div>
    <div class="flex flex-row justify-end pr-5 text-[#219ebc]">
      <div id="menu-icon"><i class="fa-solid fa-bars fa-3x"></i></div>
    </div>
  </section>
</div>

<script>
  /**Codigo para o menu (versao mobile) */

  if ($(window).width() < 768) {
    $("#nav").hide();
    $("#menu-icon").click(function () {
      if ($("#nav").is(":hidden")) {
        $("#nav").slideDown(300);
      } else {
        $("#nav").slideUp(300);
      }
    });
  }
</script>
