main {
    position: relative;
    margin-top: 70px;
    min-height: 100vh;
}
main > section {
    width: 62%;
    margin: 10px 25px;
    border-radius: 25px;
    min-height: fit-content;
    background-color: rgba(33, 158, 188, 0.4);
    color: #FFFFFF;
    padding: 40px;
}
main > aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    margin: 10px 25px;
    padding: 20px;
    border-radius: 25px;
    min-height: 600px;
    background-color: rgba(33, 158, 188, 0.4);;
    color: #FFFFFF;
}
section > h1, aside > h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
section li {
    margin: 5px;
}
section p {
    margin: 10px;
}

