body {
  background-color: #F0FFFF;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
  }
  
  @media (min-width: 1024px) {
  main {
  min-height: 100vh;
  margin-top: 70px;
  position: relative;
  }
  main > section {
  background-color: #5b9ad180;
  border-radius: 25px;
  color: #333333;
  font-size: 12px;
  line-height: 1.75;
  margin: 10px 25px;
  min-height: fit-content;
  padding: 40px;
  -webkit-text-size-adjust: none;
  word-break: normal;
  word-wrap: break-word;
  width: 62%;
  }
  main > aside {
  background-color: #5b9ad180;
  border-radius: 25px;
  color: #333333;
  margin: 0 25px;
  min-height: 600px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  }
  section > h1, aside > h1 {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  }
  section li {
  margin: 5px;
  }
  section p {
  margin: 10px;
  }
  }
  
  @media (min-width: 320px) and (max-width: 1023px) {
  main {
  min-height: 100vh;
  margin-top: 110px;
  }
  main > section {
  background-color: rgba(33, 158, 188, 1);
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 12px auto;
  min-height: fit-content;
  padding: 10px;
  width: 90%;
  }
  main > aside {
  background-color: rgba(33, 158, 188, 1);
  border-radius: 25px;
  color: #FFFFFF;
  display: none;
  margin: 0 25px;
  min-height: 600px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  }
  section > h1 {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  }
  section li {
  margin: 12px;
  }
  section p {
  margin: 6px;
  }
  }
  
