@media (min-width: 768px) {
    main {
        position: relative;
        margin-top: 70px;
        min-height: 100vh;
    }
    main > section {
        width: 62%;
        margin: 10px 25px;
        border-radius: 25px;
        min-height: fit-content;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
        padding: 40px;
    }
    main > aside {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        margin: 0 25px;
        padding: 20px;
        border-radius: 25px;
        min-height: 600px;
        background-color: rgba(33, 158, 188, 1);;
        color: #FFFFFF;
    }
    section > h1 {
        width: 95%;
        margin: auto;
        margin-bottom: 40px;
        border-bottom: solid; 
        border-width: thin; 
        padding: 20px;
        
    }
    section > h2 {
        width: 75%;
        margin: 40px 20px;
        border-bottom: solid; 
        border-width: thin; 
        padding: 0 0 10px 0;
        
    }
    aside > h1 {
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        
    }
    section li {
        margin: 20px 20px 20px 60px;
    }
    section p {
        margin: 10px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    main {
        position: relative;
        margin-top: 110px;
        min-height: 100vh;
    }
    main > section {
        width: 90%;
        margin: 12px auto;
        border-radius: 25px;
        min-height: fit-content;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
        padding: 10px;
    }
    main > aside {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        margin: 0 25px;
        padding: 20px;
        border-radius: 25px;
        min-height: 600px;
        background-color: rgba(33, 158, 188, 1);;
        color: #FFFFFF;
    }
    section > h1 {
        width: 95%;
        margin: auto;
        margin-bottom: 40px;
        border-bottom: solid; 
        border-width: thin; 
        padding: 20px;
        
    }
    section > h2 {
        width: 75%;
        margin: 40px 20px;
        border-bottom: solid; 
        border-width: thin; 
        padding: 0 0 10px 0;
        
    }
    aside > h1 {
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        
    }
    section li {
        margin: 20px 20px 20px 60px;
    }
    section p {
        margin: 10px;
    }
}
