@media (min-width: 1024px) {
    main {
        position: relative;
        margin-top: 20px;
        min-height: 100vh;
        margin-right: 20px;
    }
    main > section {
        width: 70%;
        margin: 10px 25px;
        padding: 20px 0;
        border-radius: 25px;
        min-height: 200px;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
    }
    main > aside {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        margin: 0 25px;
        border-radius: 25px;
        min-height: 300px;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
    }
    .email {
        width: 60%;
        margin: auto;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: #000000;
        border-width: thin;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-size: small;
    }
    .email  a {
        color: white;
    }
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
}
@media (min-width: 320px) and (max-width: 1023px) {
    main {
        margin-top: 110px;
    }
    main > section {
        width: 90%;
        margin: 12px auto;
        padding: 20px 0;
        border-radius: 25px;
        min-height: 200px;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
    }
    main > aside {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        margin: 0 25px;
        border-radius: 25px;
        min-height: 300px;
        background-color: rgba(33, 158, 188, 1);
        color: #FFFFFF;
    }
    .email {
        width: 60%;
        margin: auto;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: #000000;
        border-width: thin;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-size: small;
    }
    .email  a {
        color: white;
    }
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
}
