main {
    position: relative;
    margin-top: 70px;
    min-height: 100vh;
}
main > section {
    width: 70%;
    margin: 10px 25px;
    padding: 20px 0;
    border-radius: 25px;
    min-height: 300px;
    background-color: rgba(33, 158, 188, 0.4);
    color: #FFFFFF;
}
main > aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    margin: 10px 25px;
    border-radius: 25px;
    min-height: 300px;
    background-color: rgba(33, 158, 188, 0.4);;
    color: #FFFFFF;
}
.collaborators-area {
    display: flex;
    gap: 50px;
    width: fit-content;
    margin: auto;
}
.collaborators {
    width: fit-content;
    background-color: transparent;
    border-style: solid;
    border-color: #219ebc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.email {
    width: 60%;
    margin: auto;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #219ebc;
    border-width: thin;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    font-size: small;
}
.cell {
    text-align: center;
    font-size: small;
}
.email  a {
    color: white;
}
.col-name {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #219ebc;
    padding: 5px 10px;
    font-weight: bold;
}
.col-rol {
    font-size: small;
    margin-top: 7px;
    margin-bottom: 15px;
}