/* O container do slideshow */
.slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.slideshow-container img {
    width: 100%;
}
/* Ocultar outras imagens por padrao */
.hide {
    display: none;
}

/* Botoes de proximo e anterior */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posicionar o botao "proximo" a direita */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Quando passar o mouser pelos botoes "proximo e anterir" mudar o fundo para branco com alguma opacidade*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}

/* Os numeros (1/2 etc) */
.numbertext {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Os pontos/bullets/indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

/* animacao fade*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*seccao das noticias*/
#news {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.4);
    min-height: 250px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-top-right-radius: 20px;
    float: left;
    margin-bottom: 10px;
}
/*seccao dos eventos*/
aside {
    width: 23%;
    background-color: #FF8800;
    min-height: 500px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    float: right;
}
/*seccao das projectos*/
#explore {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 250px;
    position: relative;
    clear: left;
}
#explore > #scroll {
    background-color: rgba(15, 76, 92, 0.7);
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#explore > #scroll > a {
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}
/*Nomes das seccoes*/
.section-name {
    color: #FFFFFF;
    margin: 10px;
    font-size: large;
}
.show-all {
    font-size: small;
    font-weight: 400;
    position: relative;
    top: -4px;
}
/*Links "mostrar todos"*/
.show-all > a {
    color: #FFFFFF;
    text-decoration: none;
}
.show-all > a:hover {
    color: #0F4C5C;
}
.show-all > a:visited {
    color: #FFFFFF;
}
.show-all > a:active {
    color: #FFFFFF;
}
.box-container {
    display: flex;
    gap: 20px;
    background-color: transparent;
}
.box {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:first-child {
    margin-left: 20px;
}
.box-info {
    color: #0F4C5C;
}