@media (min-width: 1024px) {

    /*Estilos para o menu*/
    nav {
        display: flex;
        justify-content: right;
        padding: 0;
        
    }
    nav > div {
        display: none;
    }
    nav > ul {
        margin-top:-70px;
        padding: 6px 5px;
        color: #FFFFFF;
        font-size: small;
        background-color: #219ebc;
        font-weight: 500;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    nav > ul > li {
        padding: 5px 5px;
    }
    .dropdown {
        position: relative;
        list-style-type: none;
    }
    .dropdown > ul {
        display: none;
        position: absolute;
        top: 30px;
        left: -13px;
        z-index: 2000;
        padding: 0 0 5px;
        background-color: rgba(33, 158, 188, 1);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        font-size: small;
        min-width: 250px;
    }
    .dropdown > .submenu {
        display: none;
        position: absolute;
        top: 10px;
        left: 160px;
    }
    .dropdown:nth-child(2) > ul {
        min-width: 300px;
    }
    .dropdown:nth-child(3) > ul {
        min-width: 200px;
    }
    .dropdown:last-child > ul {
        left: -130px;
        min-width: 300px;
    }
    
    .dropdown li {
        display: block;
        margin: 0 18px;
        overflow: visible;
        padding: 8px;
    }
    .dropdown > ul > li:hover > a{
        color: #0F4C5C;
    }
    .dropdown li + li {
        border-top: solid 1px #6c757d;
    }
    .dropdown:hover > ul {
        display: block;
        z-index: 2000;
    }
    nav > ul > li > ul > li {
        list-style-type: none;
    }
    nav > ul > li > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > ul > li > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > a:hover {
        color: #023047;
    }
    nav > ul > li + li {
        border-left: solid 1px #FFFFFF;
    }

}

@media (min-width: 320px) and (max-width: 1023px) {
    /*Estilos para o menu*/
    nav {
        position: relative;
    }
    nav > ul {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        margin-top: 0x;
        padding: 6px 10px;
        color: #FFFFFF;
        font-size: medium;
        background-color: #219ebc;
        font-weight: 500;
        list-style-type: none;
        justify-content: space-between;
        width: 60%;
        height: fit-content;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 50;
    }
    nav > ul > li {
        padding: 10px 5px;
    }
    nav > ul > li + li {
        border-top: solid 1px #6c757d;
    }
    .dropdown {
        position: relative;
        list-style-type: none;
    }
    .dropdown > ul {
        z-index: 2000;
        padding: 0 0 5px;
        background-color: rgba(33, 158, 188, 1);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        font-size: small;
        min-width: 250px;
    }
    .dropdown li {
        display: block;
        margin: 0 18px;
        overflow: visible;
        padding: 8px;
    }
    .dropdown > ul > li:hover > a {
        color: #0F4C5C;
    }
    .dropdown li + li {
        border-top: solid 1px #6c757d;
    }
    .dropdown:hover > ul {
        z-index: 2000;
    }
    nav > ul > li > ul > li {
        list-style-type: none;
    }
    nav > ul > li > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > ul > li > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > a {
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav > ul > li > a:hover {
        color: #023047;
    }
}