<div
  class="bg-[#219ebc] mt-3 text-white laptop:p-8 mobile:p-1 laptop:text-base mobile:text-sm"
>
  <div
    class="border-b border-white pb-5 mb-2 pl-3 flex laptop:gap-5 mobile:gap-2 justify-left items-center"
  >
    <h2>Connecte-se connosco</h2>
    <div class="flex flex-row gap-3">
      <div class="bg-[#0F4C5C] h-fit w-fit px-2 py-1 rounded-md">
        <a href="https://www.facebook.com/ujc.fct" target="_blank"
          ><i class="fa-brands fa-facebook" style="color: white"></i
        ></a>
      </div>
      <div class="bg-[#0F4C5C] h-fit w-fit px-2 py-1 rounded-md">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-twitter" style="color: white"></i
        ></a>
      </div>
      <div class="bg-[#0F4C5C] h-fit w-fit px-2 py-1 rounded-md">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-linkedin" style="color: white"></i
        ></a>
      </div>
      <div class="bg-[#0F4C5C] h-fit w-fit px-2 py-1 rounded-md">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-youtube" style="color: white"></i
        ></a>
      </div>
    </div>
  </div>
  <div
    class="flex laptop:flex-row mobile:flex-col text-center mobile:w-full laptop:w-[70%] laptop:float-left gap-3 mb-8"
    id="about"
  >
    <div class="text-center mobile:p-6">
      <h3>Missão</h3>
      <p>
        Prover um serviço público para a formação de cidadãos de nível superior
        de qualidade através da pesquisa, ensino e extensão com competências e
        conhecimento nos domínios de ciências e tecnologia.
      </p>
    </div>
    <div class="text-center p-6">
      <h3>Visão</h3>
      <p>
        Ser uma faculdade de referência nacional, regional e internacional na
        promoção de excelência no ensino superior, investigação e inovação nas
        áreas de ciências e tecnologia.
      </p>
    </div>
  </div>
  <div
    class="p-5 mobile:mx-auto laptop:float-right laptop:w-[24%] mobile:w-[70%] laptop:ml-4 laptop:border-l laptop:mt-2 mobile:border-t laptop:border-t-0 border-white"
  >
    <h3 class="mb-1">LINKS RÁPIDOS</h3>
    <p>Perguntas frequentes</p>
    <p>Exames de admissão</p>
    <p>Calendário académico</p>
  </div>
  <div class="clear-both">
    <p
      class="border-t border-white mx-auto pt-3 text-center font-normal laptop:w-[70%] mobile:w-[80%] laptop:text-base mobile:text-sm"
    >
      &copy;&nbsp;2023. Todos os direitos reservados
    </p>
  </div>
</div>
