<div>
  <section id="logo">
    <img src="./assets/img/logo.png" />
    <p>Faculdade de Ciências e Tecnologia</p>
  </section>
  <section id="search-and-media">
    <div id="social-media-header">
      <div class="social-media-redes-top">
        <a href="https://www.facebook.com/ujc.fct" target="_blank"
          ><i class="fa-brands fa-facebook" style="color: white"></i
        ></a>
      </div>
      <div class="social-media-redes-top">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-twitter" style="color: white"></i
        ></a>
      </div>
      <div class="social-media-redes-top">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-linkedin" style="color: white"></i
        ></a>
      </div>
      <div class="social-media-redes-top">
        <a href="#" target="_blank"
          ><i class="fa-brands fa-youtube" style="color: white"></i
        ></a>
      </div>
    </div>
    <div id="search">
      <input type="search" name="search" placeholder="pesquisar" />
      <i
        class="fa-solid fa-magnifying-glass"
        style="color: #ffffff; z-index: 1"
      ></i>
    </div>
  </section>
</div>
