<ul id="nav">
  <li><a href="../../">Pagina Inicial</a></li>
  <li class="dropdown">
    <a href="#">Sobre nós</a><i class="fa-solid fa-caret-down"></i>
    <ul class="second-menu">
      <li><a href="../about/">Quem somos?</a></li>
      <li><a href="#about">Missão, Visão e Valores</a></li>
      <li><a href="../chart/">Estrutura orgânica</a></li>
      <li><a href="../regulation/">Regulamento</a></li>
      <li><a href="../standards/">Normas e Regulamentos</a></li>
      <li><a href="../contact/">Contacto</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#">Cursos</a><i class="fa-solid fa-caret-down"></i>
    <ul>
      <li class="dropdown">
        <a href="#">Licenciatura</a><i class="fa-solid fa-caret-right"></i>
        <ul class="submenu">
          <li>
            <a href="../graduation-course/"
              >Engenharia em Tecnologias e Sistemas de Informação</a
            >
          </li>
          <li>
            <a href="#">Engenharia Ambiental</a>
          </li>
          <li>
            <a href="#">Estatística Aplicada</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="../short-duration-curses/">Curta duração</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#">Investigação</a><i class="fa-solid fa-caret-down"></i>
    <ul>
      <li><a href="#">Trabalhos Científicos</a></li>
      <li><a href="#">Projectos desenvolvidos</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#">Estudantes</a><i class="fa-solid fa-caret-down"></i>
    <ul>
      <li><a href="../admission/">Admissão</a></li>
      <li><a href="../intern/">Estagiários</a></li>
      <li><a href="#">Núcleo dos estudantes</a></li>
    </ul>
  </li>
  <li><a href="../ujc-regulation/">Regulamento</a></li>
  <li><a href="../news/">Noticias</a></li>
  <li class="dropdown">
    <a href="#">Repositório</a><i class="fa-solid fa-caret-down"></i>
    <ul>
      <li><a href="#">Calendário de defesas</a></li>
      <li><a href="../monographs/">Monografias</a></li>
    </ul>
  </li>
</ul>

<script>
  if ($(window).width() < 768) {
    $(".dropdown ul").hide();
    $(".dropdown").click(function () {
      let $drop = $(this).children("ul");
      if ($drop.is(":hidden")) {
        $drop.slideDown(300);
      } else {
        $drop.slideUp(300);
      }
    });
  }
</script>
